include README.md
include LICENSE
recursive-include hector-wrapper/include *.h
recursive-include hector-wrapper/hector/headers *.hpp
recursive-include tests/data *.csv
recursive-include pyhector/emissions *.csv
include pyhector/rcp_default.ini
