include LICENSE
recursive-include tests/data *.csv
recursive-include pyhector/emissions *.csv
include pyhector/rcp_default.ini
include versioneer.py
include pyhector/_version.py
include src/*.cpp
include include/*.h
recursive-include hector/headers *.hpp
include hector/LICENSE.md
include hector/README.md
